# Variables de entorno - NUNCA COMMITEAR A GIT
# Renombra este archivo a .env

# Flask
FLASK_ENV=development
SECRET_KEY=supersecretkey_herencia_acero_2026_CAMBIAR_EN_PRODUCCION

# Mail (Gmail)
MAIL_USERNAME=herencia.de.acero@gmail.com
MAIL_PASSWORD=nvbp fndh jrar kekz

# Admin Console
ADMIN_USER=admin
ADMIN_PASSWORD_HASH=$2b$12$YourBcryptHashHere

# Wompi (Payments) - Solo llaves públicas aquí
WOMPI_PUBLIC_KEY=pub_test_XXXXXXXXXX

# Base de datos
DATABASE_NAME=reservas.db

# Producción
DEBUG=False
